/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  color: #222;
}

body {
  width: 375px;
  height: 300px;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 12px;
}

code {
  font-size: 12px;
  font-family: inherit;
  background-color: rgba(254, 237, 185, 0.3);
  padding: 2px 4px;
  border-radius: 2px;
}

.button-container {
  margin-top: 15px;
}

.button {
  border: 0;
  display: inline-block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 4px;
  margin-left: 4px;
  background-color: #8899a6;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 9999px;
  text-decoration: none;
  transition: transform 0.2s ease;
  user-select: none;
}

.button:hover {
  background-color: #F3F4F6;
}

.button-primary {
  background-color: #4D7C0F;
}

.button-primary:hover {
  background-color: #3F6212;
}

.button-outline {
  border: 2px solid #e5e7eb;
  color: #000;
  background-color: #FFFFFF;
}

.button:focus {
  outline: none;
}

.divider {
  margin: 30px auto 25px;
  width: 50px;
  border: 0.5px dashed #000;
  opacity: 0.1;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.loader {
  display: inline;
  width: 16px;
  height: auto;
  animation: spin 1s linear infinite;
  margin-right: 0.3rem;
  margin-top: -2px;
  vertical-align: middle;
}


.checkmark {
  display: inline;
  width: 16px;
  height: auto;
  margin-right: 0.3rem;
  margin-top: -2px;
  vertical-align: middle;
}
.checkmark .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.checkmark .path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.checkmark .path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.checkmark .path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

.hidden {
  display: none;
}

.hidden-fade {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  /* appear over the top of the extension */
  position: absolute;
  z-index: 9999;
  top: 8px;
  right: 8px;
  left: 8px;
  border-radius: 4px;
  font-size: 14px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  cursor: pointer;
  transition: 0.3s;
}